<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net40" />
  <package id="Costura.Fody" version="4.0.0" targetFramework="net40" />
  <package id="Fody" version="5.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net40" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net40" />
</packages>